[submodule "references/real-time-cpp"]
	path = references/real-time-cpp
	url = https://github.com/ckormanyos/real-time-cpp.git
[submodule "SimulIDE-dev"]
	path = SimulIDE-dev
	url = https://github.com/Arcachofo/SimulIDE-dev.git
[submodule "avr-libstdcpp"]
	path = avr-libstdcpp
	url = https://github.com/modm-io/avr-libstdcpp.git
